body{
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;

}

.container-mare{
    display: flex;
    flex-direction: column;
   
}

.left{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    flex:1;
}

.center{
    display: flex;
    flex-direction: column;
    background-color: red;
    flex:2;
}

.right{
    display: flex;
    flex-direction: column;
    background-color: grey;
    flex:1;
}